html {
  font-family: "Fredoka One", sans-serif;
}

section {
  border-top: 8px solid #b3fbff;
  background-image: repeating-linear-gradient(-33.3deg, #c9fcff 0%, #d4fdff 1.5%);
  border-bottom: 8px solid #b3fbff;
}

h1, p, a {
  transform-origin: left center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

h1 {
  color: #990073;
  transform: rotate(-9deg);
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-3deg);
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  background-color: rgba(0, 0, 0, 0);
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: #c9fcff;
}

.cherry {
  z-index: 3;
  position: absolute;
  transform:
    translate(47px, -138px)
    scale(.7, .7);
}

.fudge {
  z-index: 2;
  position: absolute;
  transform:
    translate(43px, -59px)
    scale(.7, .7);
}

.choc {
  z-index: 1;
  position: absolute;
  transform:
    translate(53px, 14px)
    scale(.7, .7);
}

.cone {
  z-index: 1;
  position: absolute;
  transform:
    translate(47px, 204px)
    scale(.7, .7);
}

.mint {
  position: absolute;
  transform:
    translate(47px, 100px)
    scale(.7, .7);
}
