html {
  font-family: "Fredoka One", sans-serif;
}

section {
  border-top: 8px solid #b3fbff;
  background-image: repeating-linear-gradient(-33.3deg, #c9fcff 0%, #d4fdff 1.5%);
  border-bottom: 8px solid #b3fbff;
}

h1, p, a {
  transform-origin: left center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}

h1 {
  color: #990073;
  transform: rotate(-9deg);
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-3deg);
}

.text {
  opacity: 0;
  animation: text .2s 1s ease-in forwards;
}

@keyframes text {

  0% {
    opacity: 0;
    filter: blur(8px);
  }

  100% {
    opacity: 100;
    filter: blur(0);
  }

}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  background-color: rgba(0, 0, 0, 0);
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: #c9fcff;
}

.cherry {
  z-index: 3;
  position: absolute;
  transform:
    translate(47px, -300px)
    scale(.7, .7);
  animation: cherry .2s .8s linear forwards;
}

.fudge {
  z-index: 2;
  position: absolute;
  transform:
    translate(43px, -300px)
    scale(.7, .7);
  animation: fudge .2s .6s linear forwards;
}

.choc {
  z-index: 1;
  position: absolute;
  transform:
    translate(53px, -300px)
    scale(.7, .7);
  animation: choc .2s .4s linear forwards;
}

.cone {
  z-index: 1;
  position: absolute;
  animation: cone .2s linear forwards;
}

.mint {
  position: absolute;
  transform:
    translate(47px, -300px)
    scale(.7, .7);
  animation: mint .2s  .2s linear forwards;
}

@keyframes cone {

  0% {
    transform:
      translate(47px, -200px)
      scale(.7, .7);
  }

  100% {
    transform:
      translate(47px, 204px)
      scale(.7, .7);
  }

}

@keyframes mint {

  0% {
    transform:
      translate(47px, -200px)
      scale(.7, .7);
  }

  100% {
    transform:
      translate(47px, 100px)
      scale(.7, .7);
  }

}

@keyframes choc {

  0% {
    transform:
      translate(53px, -300px)
      scale(.7, .7);
  }

  100% {
    transform:
      translate(53px, 14px)
      scale(.7, .7);
  }

}

@keyframes fudge {

  0% {
    transform:
      translate(43px, -300px)
      scale(.7, .7);
  }

  100% {
    transform:
      translate(43px, -59px)
      scale(.7, .7);
  }

}

@keyframes cherry {

  0% {
    transform:
      translate(43px, -300px)
      scale(.7, .7);
  }

  100% {
    transform:
      translate(47px, -138px)
      scale(.7, .7);
  }

}

@media only screen and (min-width: 90em) {

  .text {
    padding-left: 8em;
  }

  .icecream {
    padding-right: 10em;
  }

  .bottom {
    padding-bottom: 1.5em;
  }

}
